<a href="https://colab.research.google.com/github/Depo90/Hello-World-Depo/blob/master/Test_script.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x = 4
library(tidyverse)
x
for(i in 1:50) cat("dadaad", i)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.2.1     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   1.0.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

[1] 4

dadaad 1dadaad 2dadaad 3dadaad 4dadaad 5dadaad 6dadaad 7dadaad 8dadaad 9dadaad 10dadaad 11dadaad 12dadaad 13dadaad 14dadaad 15dadaad 16dadaad 17dadaad 18dadaad 19dadaad 20dadaad 21dadaad 22dadaad 23dadaad 24dadaad 25dadaad 26dadaad 27dadaad 28dadaad 29dadaad 30dadaad 31dadaad 32dadaad 33dadaad 34dadaad 35dadaad 36dadaad 37dadaad 38dadaad 39dadaad 40dadaad 41dadaad 42dadaad 43dadaad 44dadaad 45dadaad 46dadaad 47dadaad 48dadaad 49dadaad 50

In [3]:
iris %>% group_by(Species) %>% tally() %>% filter(n != 50)

     Species n